body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

*{
     outline: 1px dashed #81b3d2;
 }
 *:hover{
     outline: 2px dashed #008090;
 }

.button {
  display: inline-block;
  padding: 3px 16px;

  font: inherit;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
}

.main-header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 140px;
}

.main-navigation {
  padding: 15px 6%;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.site-navigation {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-navigation li {
  flex-basis: 20%;
}

.site-navigation li:nth-child(1) {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;

  text-align: left;
}

.site-navigation  li:nth-child(3),
.site-navigation  li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-active a {
  color: #766357;
}

.site-navigation-active a:hover,
.site-navigation-active a:focus,
.site-navigation-active a:active {
  color: #766357;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 512px;
  margin-bottom: 60px;

  background-image: url("../img/index-intro.jpg");
  background-repeat: no-repeat;
  background-position: 50% -56px;
}

.welcome-text {
  width: 458px;
  height: 352px;
  margin-top: 76px;

  background-image: url("../img/index-welcome.png");
  background-repeat: no-repeat;
}

.welcome-bottom {
  width: 100%;
  height: 57px;

  background-image: url("../img/index-intro-bottom.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.intro-slogan {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.intro-text {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  line-height: 26px;
  text-align: center;
}

.advantages h2,
.features h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.feature-list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.advantages-columns {
  display: flex;
  margin-bottom: 50px;

  background-color: #eeeeee;
}

.advantages {
  flex-basis: 33.333333%;
  max-width: 33.333333%;
  min-height: 256px;
  padding: 45px 30px;
  box-sizing: border-box;

  text-align: center;
}

.feature-item {
  flex-basis: 33.333333%;
  max-width: 33.333333%;
  min-height: 330px;
  padding: 50px 45px;
  box-sizing: border-box;

  text-align: center;
}

.feature-item p {
  padding: 0;
  margin: 0;
}

.feature-accommodation::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;

  background-image: url("../img/icon-1.svg");
}

.features-food::before {
  content: "";
  display: block;
  width: 74px;
  height: 70px;
  margin: 0 auto 30px;

  background-image: url("../img/icon-3.svg");
}

.features-souvenirs::before {
  content: "";
  display: block;
  width: 64px;
  height: 76px;
  margin: 0 auto 30px;

  background-image: url("../img/icon-2.svg");
}

.advantages p {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.advantages-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 66.666666%;
  max-width: 66.666666%;
  height: 256px;

  overflow: hidden;
}

.advantages-photo {
  display: flex;

  color: #ffffff;

  background-color: #81b3d2;
}

.advantages-photo h2 {
  color: #ffffff;
}

.advantages-photo .right-img {
  order: -1;
}

.advantages-img img{
  width: 100%;
  height: auto;
}

.search {
  position: relative;
  padding: 0 50px;

  text-align: center;
}

.search h2 {
  margin: 0;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}
.search p {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  line-height: 24px;
}

.search-button {
  padding: 30px 139px;

  font-size: 21px;

  background-color: #766357;
}

.search-button:hover,
.search-button:focus {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search-form {
  position: absolute;
  left:0;
  right:0;
  display: flex;
  flex-wrap: wrap;
  width: 458px;
  padding: 55px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  text-align: left;
}

.departure-date,
.arrival-date {
  width: 346px;
  padding: 5px;
  padding-left: 12px;
  padding-right: 40px;
  box-sizing: border-box;
}

.departure-date-calendar,
.arrival-date-calendar {
  position: absolute;
  right: 0;
  top: 0;
  height: 34px;
  width: 34px;
  box-sizing: border-box;

  background-color: transparent;
  border: none;
}

.departure-date-calendar:hover path,
.arrival-date-calendar:hover path {
  fill: #000000;
}

.departure-date-calendar:focus path,
.departure-date-calendar:active path,
.arrival-date-calendar:focus path,
.arrival-date-calendar:active path {
  fill: #81b3d2;
}

.search-form p {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 29px;

  font-weight: bold;
}

.count-of-childrens,
.count-of-adults {
  width: 38px;
  height: 38px;
  padding: 0;

  text-align: center;
}

.search-form-num label:first-of-type {
  margin-right: 40px;
}

.search-form-num label:last-of-type {
  margin-right: 30px;
  margin-left:  50px;
}

.search-form input[type="text"] {
  font: inherit;
  text-transform: uppercase;

  background-color: #ebebeb;
  border: none;
}

.search-form input[type="text"]:focus {
  background-color: #ffffff;
  outline: 2px solid #ebebeb;
}

.button-num-minus {
  height: 38px;
  width: 38px;
  padding: 0;
  box-sizing: border-box;

  font-size: 24px;
  color: #a9a9a9;

  background-color: #ebebeb;
}

.button-num-plus {
  height: 38px;
  width: 38px;
  padding: 0;
  box-sizing: border-box;

  font-size: 24px;
  color: #a9a9a9;

  background-color: #ebebeb;
}

.button-num-minus:hover,
.button-num-minus:focus,
.button-num-plus:hover,
.button-num-plus:focus {
  color: #000000;

  background-color: #ebebeb;
}

.button-num-plus:active,
.button-num-minus:active {
  color: #81b3d2;
}

.modal-search-button {
  width: 100%;
  padding: 16px;

  font-size: 21px;
}

.map {
  display: flex;
  justify-content: center;
  height: 473px;

  overflow: hidden;
}

.filter {
  color: #ffffff;

  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% -56px;
  background-color: #5b87ae;
}

.filter legend {
  margin-bottom: 25px;

  font-size: 16px;
  font-weight: bold;
}

.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-columns {
  display: flex;
  justify-content: space-between;
  padding: 30px 6% 0px;
}

.filter-column:first-child {
  width: 180px;
  margin-right: 60px;
}

.filter-column:last-child {
  width: 33.333333%;
  margin-left: auto;
}

.filter-group {
  padding: 0;
  margin: 0;

  border: none;
}

.filter-option {
  padding-left: 40px;
  margin-bottom: 25px;
}

.filter-option label {
  position: relative;
  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -1px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  }

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-cost {
  width: 87%;
  margin-left: auto;
}

.filter-cost legend {
  margin-bottom: 10px;
}

.cost-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;


  border: 2px solid #ffffff;
  border-radius: 2px;
}

.cost-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.cost-controls label {
  display: inline-block;

  cursor: pointer;
}

.cost-controls-column {
  display: inline-block;
  width: 49%;
  margin: 0 auto;

  line-height: 38px;
  text-align: center;
}

.cost-controls .cost-min,
.cost-controls .cost-max {

}

.cost-controls input {
  width: 30px;

  color: inherit;
  font: inherit;
  text-align: center;

  background: none;
  border: none;
  cursor: pointer;
}

.cost-range {
  position: relative;

  margin-bottom: 32px;
}

.cost-range .range-scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.cost-range .range-bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
  display: block;
  padding: 6px 35px;
  margin: 0 auto;

  font-weight: normal;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: #000000;

  background-color: #ffffff;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;

  border-bottom: 1px solid #e5e5e5;
}

.sort-count {
  margin-right: 48px;

  align-self: center;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-title {
  margin-right: 40px;

  align-self: center;

  font-size: 12px;
  line-height: 18px;
}

.sort-list,
.sort-page {
  padding: 0;
  margin: 0;
  display: flex;
  align-self: center;

  list-style: none;
}

.sort-list {
  margin-right: auto;
}

.sort-item {
  margin-right: 33px;
}

.sort-item:last-of-type {
  margin-right: 0;
}

.sort-item a {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  text-decoration: underline;
  text-decoration-style: dotted;

  opacity: 0.3;
}

.sort-item a:hover,
.sort-item a:focus {
  color: #81b3d2;

  opacity: 1;
}

.sort-item a:active {
  text-decoration: none;
  color: #000000;
}

.sort-item-active a {
  text-decoration: none;
  color: #81b3d2;

  opacity: 1;
}

.sort-item-active a:hover,
.sort-item-active a:focus,
.sort-item-active a:active {
  color: #81b3d2;
}

.sort-page a {
  font-size: 12px;
  line-height: 18px;
  color: #000000;

  opacity: 0.3;
}

.sort-page a:hover,
.sort-page a:focus {
  color: #231f20;

  opacity: 1;
}

.sort-page a:active {
  color: #81b3d2;
}

.sort-page-active a {
  color: #81b3d2;

  opacity: 1;
}

.sort-page-up {
  margin-right: 12px;
}

.sort-page-active a:hover,
.sort-page-active a:focus,
.sort-page-active a:active {
  color: #81b3d2;
}

.hotel {
  display: flex;
  padding: 30px 6%;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #000000;

  opacity: 0.3;
}

.hotel-img {
  align-self: center;
  order: -1;
  margin-right: 30px;
}

.hotel-columns{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.hotel-column {
  margin-right: 6px;
}

.hotel-name {
  margin: 0;
  padding: 0;
  flex-basis: 100%;
}

.hotel-type,
.hotel-cost {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  color: #333333;
}

.button-hotel-booking {
  background-color: #766357;
}

.button-hotel-booking:hover,
.button-hotel-booking:focus {
  background-color: #604e43;
}

.button-hotel-booking:active {
  background-color: #503e33;
}

.hotel-stars {
  height: 17px;

  background-image: url("../img/star.svg");
  background-repeat: space;
  background-size: 20px 17px;
}

.hotel-stars-1 {
  width: 18px;
}

.hotel-stars-2 {
  width: 41px;
}

.hotel-stars-3 {
  width: 64px;
}

.hotel-stars-4 {
  width: 87px;
}

.hotel-stars-5 {
  width: 110px;
}

.hotel-rate-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
}

.hotel-rate {
  font-weight: normal;
  color: #666666;
  text-align: center;

  background-color: #f2f2f2
}

.main-footer {
  display: flex;
  align-items: center;
  padding: 35px 0;
}

.footer-hashtag {
  flex-basis: 33.33%;
  max-width: 33.33%;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.footer-social {
  flex-basis: 33.33%;
  max-width: 33.33%;

  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 auto;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 46px;
  margin: 0 3px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}


.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33.33%;
  max-width: 33.33%;

  color: #000000;
}

.footer-copyright:hover path,
.footer-copyright:focus path {
  fill: #81b3d2;
}

.footer-copyright:active path {
  fill: #bdbbbc;
}

.footer-copyright-by {
  margin-right: 10px;

  font-weight: normal;
}
