body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;

  text-transform: uppercase;

  color: #333333;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;

  padding: 3px 17px;

  font: inherit;
  font-weight: bold;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  background-color: #81b3d2;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
}

.main-header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;

  width: 138px;
  width: 138px;
  height: 70px;
  margin-left: -69px;
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;

  color: #000000;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 15px 0;

  list-style: none;
}

.site-navigation li {
  flex-basis: 20%;
}

.site-navigation li:nth-child(4n+1) {
  margin-left: 6%;

  text-align: left;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: auto;

  text-align: left;
}

.site-navigation  li:nth-child(4n+3) {
  text-align: right;
}

.site-navigation  li:nth-child(4n+4) {
  margin-right: 6%;

  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-active a {
  color: #766357;
}

.site-navigation-active a:hover,
.site-navigation-active a:focus,
.site-navigation-active a:active {
  color: #766357;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-image: url("../img/index-intro.jpg");
  background-repeat: no-repeat;
  background-position: 50% -56px;
}

.welcome-text {
  width: 458px;
  height: 352px;
  margin-top: 76px;
  margin-bottom: 20px;

  background-image: url("../img/index-welcome.png");
  background-repeat: no-repeat;
}

.welcome-bottom {
  width: 100%;
  height: 57px;

  background-image: url("../img/index-intro-bottom.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.intro {
  padding: 60px 6% 50px;
}

.intro-slogan {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  text-align: center;

  color: #000000;
}

.intro-text {
  margin: 0;
  padding: 0;

  line-height: 26px;

  text-align: center;
}

.advantages h2,
.features h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;

  color: #000000;
}

.feature-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-columns {
  display: flex;

  background-color: #eeeeee;
}

.advantages {
  flex-basis: 33.333333%;

  box-sizing: border-box;
  max-width: 33.333333%;
  min-height: 256px;
  padding: 45px 4% 15px;

  text-align: center;
}

.feature-item {
  flex-basis: 33.333333%;

  box-sizing: border-box;
  max-width: 33.333333%;
  min-height: 330px;
  padding: 55px 4%;

  text-align: center;
}

.feature-item p {
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

.feature-item::before {
  display: block;

  height: 80px;
  margin: 0 auto 25px;

  content: "";
}

.feature-accommodation::before {
  width: 75px;

  background-image: url("../img/icon-1.svg");
}

.features-food::before {
  width: 74px;

  background-image: url("../img/icon-3.svg");
}

.features-souvenirs::before {
  width: 64px;

  background-image: url("../img/icon-2.svg");
}

.advantages p {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
}

.advantages-photo {
  display: flex;

  color: #ffffff;
  background-color: #81b3d2;
}

.advantages-photo h2 {
  color: #ffffff;
}

.advantages-photo p {
  width: 100%;
}

.advantages-photo .right-img {
  order: -1;
}

.advantages-img {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-basis: 66.666666%;
  justify-content: center;

  max-width: 66.666666%;
  height: 256px;
}

.advantages-img img {
  width: 100%;
  height: auto;
}

.search {
  position: relative;

  padding: 50px 6% 0;

  text-align: center;
}

.search h2 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  font-weight: bold;
  line-height: 36px;

  color: #000000;
}
.search-intro {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  line-height: 24px;
}

.search-button {
  padding: 30px 139px;

  font-size: 21px;
  line-height: 26px;

  background-color: #766357;
}

.search-button:hover,
.search-button:focus {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  position: absolute;
  right: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;

  width: 458px;
  margin: 0 auto;
  padding: 55px;

  text-align: left;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.input-date {
  box-sizing: border-box;
  width: 346px;
  padding: 5px;
  padding-right: 40px;
  padding-left: 12px;
}

.button-calendar {
  position: absolute;
  top: 1px;
  right: 2px;

  box-sizing: border-box;
  width: 34px;
  height: 34px;

  border: none;
  background-color: transparent;
}

.button-calendar:hover path,
.button-calendar:focus path {
  fill: #000000;
}

.button-calendar:active path {
  fill: #81b3d2;
}

.search-form-item {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  font-weight: bold;
  line-height: 26px;
}

.search-form .search-form-num {
  margin-bottom: 55px;
}

.count-of {
  width: 38px;
  height: 38px;
  padding: 0;

  text-align: center;
}

.search-form-num label:first-of-type {
  margin-right: 40px;
}

.search-form-num label:last-of-type {
  margin-right: 30px;
  margin-left: 50px;
}

.search-form input[type="text"] {
  font: inherit;

  text-transform: uppercase;

  border: none;
  background-color: #ebebeb;
}

.search-form input[type="text"]:focus {
  outline: 2px solid #ebebeb;
  background-color: #ffffff;
}

.button-num {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding: 0;

  font-size: 24px;

  color: #a9a9a9;
  background-color: #ebebeb;
}

.button-num:hover,
.button-num:focus {
  color: #000000;
  background-color: #ebebeb;
}

.button-num:active {
  color: #81b3d2;
}

.modal-search-button {
  width: 100%;
  padding: 16px;

  font-size: 21px;
  line-height: 26px;
}

.map {
  display: flex;
  overflow: hidden;
  justify-content: center;

  height: 473px;
}

.filter {
  color: #ffffff;
  background-color: #5b87ae;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% -56px;
}

.filter legend {
  margin-bottom: 25px;

  font-size: 16px;
  font-weight: bold;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-columns {
  display: flex;
  justify-content: space-between;

  padding: 25px 6% 30px;
}

.filter-column:first-child {
  width: 180px;
  margin-right: 75px;
}

.filter-column:last-child {
  width: 33.333333%;
  margin-left: auto;
}

.filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-option {
  margin-bottom: 23px;
}

.filter-option:last-of-type {
  margin-bottom: 0;
}

.filter-option label {
  position: relative;

  display: flex;

  cursor: pointer;
  user-select: none;
}


.filter-input-checkbox + label::before {
  width: 27px;
  height: 23px;
  margin-right: 15px;
  content: "";

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 27px 60px;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:disabled + label::before {
  background-position: 0 -30px;
}

.filter-input-checkbox:focus + label::before {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-cost {
  width: 90%;
  margin-left: auto;
}

.filter-cost legend {
  margin-bottom: 10px;
}

.cost-controls {
  position: relative;

  height: 34px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.cost-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  content: "";
  transform: translate(-50%, -50%);

  background: #ffffff;
}

.cost-controls label {
  display: inline-block;

  cursor: pointer;
}

.cost-controls-column {
  display: inline-block;

  width: 49%;
  margin: 0 auto;

  line-height: 32px;

  text-align: center;
}

.cost-controls input {
  width: 30px;

  font: inherit;

  cursor: pointer;
  text-align: center;

  color: inherit;
  border: none;
  background: none;
}

.cost-range {
  position: relative;

  margin-bottom: 32px;
}

.cost-range .range-scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.cost-range .range-bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
  display: block;

  margin: 0 auto;
  margin-left: 35%;
  padding: 5px 32px;

  font-weight: normal;

  cursor: pointer;

  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: #000000;
  background-color: #ffffff;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;

  padding-right: 6%;
  padding-left: 6%;

  border-bottom: 1px solid #e5e5e5;
}

.sort-count {
  align-self: center;

  margin: 30px 0;
  margin-right: 48px;
  padding: 0;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sort-title {
  align-self: center;

  margin: 0;
  margin-right: 40px;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
}

.sort-list,
.sort-page {
  display: flex;
  align-self: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-list {
  margin-right: auto;
}

.sort-item {
  margin-right: 33px;
}

.sort-item:last-of-type {
  margin-right: 0;
}

.sort-item a {
  font-size: 12px;
  line-height: 18px;

  text-decoration: underline;

  opacity: 0.3;
  color: #000000;

  text-decoration-style: dotted;
}

.sort-item a:hover,
.sort-item a:focus {
  opacity: 1;
  color: #81b3d2;
}

.sort-item a:active {
  text-decoration: none;

  color: #000000;
}

.sort-item-active a {
  text-decoration: none;

  opacity: 1;
  color: #81b3d2;
}

.sort-item-active a:hover,
.sort-item-active a:focus,
.sort-item-active a:active {
  color: #81b3d2;
}

.sort-page a {
  font-size: 14px;
  line-height: 18px;

  opacity: 0.3;
  color: #000000;
}

.sort-page a:hover,
.sort-page a:focus {
  opacity: 1;
  color: #231f20;
}

.sort-page a:active {
  color: #81b3d2;
}

.sort-page-up {
  margin-right: 10px;
}

.sort-page-active a {
  opacity: 1;
  color: #81b3d2;
}

.sort-page-active a:hover,
.sort-page-active a:focus,
.sort-page-active a:active {
  color: #81b3d2;
}

.hotel {
  display: flex;

  padding: 30px 6%;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-name a {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  opacity: 0.3;
  color: #000000;
}

.hotel-img {
  align-self: center;

  margin-right: 30px;

  order: -1;
}

.hotel-columns {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.hotel-column {
  margin-right: 6px;
}

.hotel-name {
  flex-basis: 100%;

  margin: 0;
  padding: 0;
}

.hotel-type,
.hotel-cost {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  color: #333333;
}

.button-hotel-booking {
  background-color: #766357;
}

.button-hotel-booking:hover,
.button-hotel-booking:focus {
  background-color: #604e43;
}

.button-hotel-booking:active {
  background-color: #503e33;
}

.hotel-stars {
  height: 17px;

  content: "";

  background-image: url("../img/star.svg");
  background-repeat: space;
  background-size: 21px 17px;
}

.hotel-stars-1 {
  width: 18px;
}

.hotel-stars-2 {
  width: 42px;
}

.hotel-stars-3 {
  width: 66px;
}

.hotel-stars-4 {
  width: 90px;
}

.hotel-stars-5 {
  width: 114px;
}

.hotel-rate-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  margin-left: auto;
}

.hotel-rate {
  padding: 2px 13px;

  font-weight: normal;

  text-align: center;

  color: #666666;
  background-color: #f2f2f2;
}

.main-footer {
  display: flex;
  align-items: center;

  padding: 35px 0;
}

.footer-hashtag {
  flex-basis: 33.33%;

  max-width: 33.33%;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  text-align: center;

  color: #000000;
}

.footer-social {
  flex-basis: 33.33%;

  max-width: 33.33%;

  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;
  margin: 0 3px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path{
  fill: #88b6d1;
}


.footer-copyright {
  display: flex;
  flex-basis: 33.33%;
  justify-content: center;
  align-items: center;

  max-width: 33.33%;

  color: #000000;
}

.footer-copyright:hover path,
.footer-copyright:focus path {
  fill: #81b3d2;
}

.footer-copyright:active path {
  fill: #bdbbbc;
}

.footer-copyright-by {
  margin-right: 10px;

  font-weight: normal;
}
