body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

*{
     outline: 1px dashed #81b3d2;
 }
 *:hover{
     outline: 2px dashed #008090;
 }

.button {
  display: inline-block;
  padding: 3px 16px;

  font: inherit;
  font-weight: bold;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;

  box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

.main-header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 140px;
  z-index: 1;
}

.main-navigation {
  padding: 15px 6%;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.site-navigation {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-navigation li {
  flex-basis: 20%;
}

.site-navigation li:nth-child(1) {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;

  text-align: left;
}

.site-navigation  li:nth-child(3),
.site-navigation  li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-active a {
  color: #766357;
}

.site-navigation-active a:hover,
.site-navigation-active a:focus,
.site-navigation-active a:active {
  color: #766357;
}

.welcome {
  position: relative;
  background-image: url("../img/index-intro.jpg");
  background-position: center;
  background-size: 100% auto;
  height: 512px;

  overflow: hidden;
}

.welcome-bottom {
  position: absolute;
  bottom: -6px;
}

.welcome-bottom img{
  width: 100%;
  height: auto;
}

.intro-slogan {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.intro-text {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  line-height: 26px;
  text-align: center;
}

.advantages h2,
.features h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.feature-list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.advantages-columns {
  display: flex;

  background-color: #eeeeee;
}

.advantages,
.feature-item {
  flex-basis: 33.33%;
  max-width: 33.33%;

  padding: 45px 30px;
  box-sizing: border-box;

  text-align: center;
}

.advantages p {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.advantages-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 66.67%;
  max-width: 66.67%;

  height: 256px;
  overflow: hidden;
}

.advantages-photo {
  display: flex;

  color: #ffffff;

  background-color: #81b3d2;
}

.advantages-photo h2 {
  color: #ffffff;
}

.advantages-photo .right-img {
  order: -1;
}

.advantages-img img{
  width: 100%;
  height: auto;
}

.search {
  position: relative;
  padding: 50px;
  padding-bottom: 0;

  text-align: center;
}

.search h2 {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}
.search p {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  line-height: 24px;
}

.search-button {
  padding: 30px 139px;
  font-size: 21px;
  background-color: #766357;
}

.search-button:hover,
.search-button:focus {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search-form {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 458px;
  padding: 55px;
  margin: 0 auto;
  left:0;
  right:0;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  text-align: left;
}

.departure-date,
.arrival-date {
  width: 346px;
  box-sizing: border-box;

  padding: 5px;
  padding-left: 12px;
  padding-right: 40px;
}

.search-form p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  position: relative;
  margin-bottom: 29px;

  font-weight: bold;
}

.count-of-childrens,
.count-of-adults {
  width: 38px;
  height: 38px;
  padding: 0;

  text-align: center;
}

.search-form-num label:first-of-type {
  margin-right: 40px;
}

.search-form-num label:last-of-type {
  margin-right: 30px;
  margin-left:  50px;
}

.search-form input[type="text"] {
  font: inherit;
  text-transform: uppercase;
  border: none;

  background-color: #ebebeb;
}

.search-form input[type="text"]:focus {
  background-color: #ffffff;
  outline: 2px solid #ebebeb;
}
/*----------------------------------*/
.departure-date-calendar,
.arrival-date-calendar {
  position: absolute;
  right: 0;
}
/*----------------------------------*/

.button-num-minus {
  height: 38px;
  width: 38px;
  padding: 0;
  box-sizing: border-box;

  color: #a9a9a9;
  font-size: 24px;

  background-color: #ebebeb;
}

.button-num-plus {
  height: 38px;
  width: 38px;
  padding: 0;
  box-sizing: border-box;

  color: #a9a9a9;
  font-size: 24px;

  background-color: #ebebeb;
}

.button-num-minus:hover,
.button-num-minus:focus,
.button-num-plus:hover,
.button-num-plus:focus {
  color: #000000;

  background-color: #ebebeb;
}

.button-num-plus:active,
.button-num-minus:active {
  color: #81b3d2;
}

.modal-search-button {
  width: 100%;
  padding: 16px;
  font-size: 21px;
}

.map {
  /*----------------------------------*/
  min-height: 470px;
  /*----------------------------------*/

  overflow-y: hidden;
}

.map img {
  margin: auto;
  width: 100%;
  height: auto;
}

.filter {
  color: #ffffff;

  background-color: #5b87ae;
}

.filter-columns {
  display: flex;
  padding: 25px 6%;
}

.filter-group {
  border: none;
}

.filter-cost {
  margin-left: auto;
}

.filter legend {
  font-size: 16px;
  font-weight: bold;
}

.filter ul {
  list-style: none;
}

.filter input[type="text"] {
  font: inherit;
  color: #ffffff;
  text-align: center;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter input[type="text"]:hover,
.filter input[type="text"]:focus,
.filter input[type="text"]:active {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button {
  font-weight: normal;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;

  border-bottom: 1px solid #e5e5e5;
}

.sort-count {
  align-self: center;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-title {
  align-self: center;

  font-size: 12px;
  line-height: 18px;
}

.sort-list,
.sort-page {
  display: flex;
  align-self: center;

  list-style: none;
}

.sort-item a {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  text-decoration: underline;
  text-decoration-style: dotted;

  opacity: 0.3;
}

.sort-item a:hover,
.sort-item a:focus {
  color: #81b3d2;

  opacity: 1;
}

.sort-item a:active {
  text-decoration: none;
  color: #000000;
}

.sort-item-active a {
  text-decoration: none;
  color: #81b3d2;

  opacity: 1;
}

.sort-item-active a:hover,
.sort-item-active a:focus,
.sort-item-active a:active {
  color: #81b3d2;
}

.sort-page a {
  font-size: 12px;
  line-height: 18px;
  color: #000000;

  opacity: 0.3;
}

.sort-page a:hover,
.sort-page a:focus {
  color: #231f20;

  opacity: 1;
}

.sort-page a:active {
  color: #81b3d2;
}

.sort-page-active a {
  color: #81b3d2;

  opacity: 1;
}

.sort-page-active a:hover,
.sort-page-active a:focus,
.sort-page-active a:active {
  color: #81b3d2;
}

.search-result {
  padding-left: 6%;
  padding-right: 6%;
}

.hotel {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #000000;

  opacity: 0.3;
}

.button-hotel-booking {
  background-color: #766357;
}

.button-hotel-booking:hover,
.button-hotel-booking:focus {
  background-color: #604e43;
}

.button-hotel-booking:active {
  background-color: #503e33;
}

.hotel {
  display: flex;
  padding: 30px 0;
}

.hotel-img {
  align-self: center;
  order: -1;
  margin-right: 30px;
}

.hotel-columns{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.hotel-column {
  margin-right: 6px;
}

.hotel-name {
  margin: 0;
  padding: 0;
  flex-basis: 100%;
}

.hotel-type,
.hotel-cost {
  margin: 0;
  padding: 0;
  color: #333333;
}
.hotel-rate-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
}

.hotel-rate {
  font-weight: normal;
  color: #666666;
  text-align: center;

  background-color: #f2f2f2
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: #000000;

  background-color: #ffffff;
}

.main-footer {
  display: flex;
  align-items: center;
}

.footer-hashtag {
  flex-basis: 33.33%;
  max-width: 33.33%;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  text-align: center;
}

.footer-social {
  flex-basis: 33.33%;
  max-width: 33.33%;

  text-align: center;
}

.footer-social ul {
  display: flex;
  align-items: center;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33.33%;
  max-width: 33.33%;

  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #000000;
}
